@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~@flaticon/flaticon-uicons/css/all/all";

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  background-color: white;
}

.sidebarScroll::-webkit-scrollbar {
  display: none;
}

.sidebarScroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
}
.editor-class {
  background-color: rgb(242, 242, 242);
  padding: 1rem;
  border: 1px solid #ccc;
  min-height: 300px;
}
.toolbar-class {
  border: 1px solid #ccc;
}

progress {
  width: 100%;
  height: 5px;
  position: fixed;
  top: 0;
}
progress::-webkit-progress-bar {
  background-color: white;
}
progress::-webkit-progress-value {
  background-color: #3b82f6;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: 0 1px 5px #6ca2f7;
}

.distanceCollapse {
  @apply pt-[105px] pl-[115px] lg:pl-[110px] min-h-screen transition-all duration-150 max-md:px-4 md:pr-4;
}

.distanceNotCollapse {
  @apply pt-[105px] pl-[280px] lg:pl-[270px] min-h-screen transition-all duration-150 max-md:px-4 md:pr-4;
}

.heading {
  @apply font-bold text-[25px];
}

.cardShadow {
  @apply shadow-[0_5px_15px_#e2e8f0];
}

.cardShadow2 {
  @apply shadow-[0_5px_3px_#e2e8f0];
}

.cardShadow3 {
  @apply shadow-[0_10px_50px_-12px_rgba(0,0,0,0.1)];
}

.input1 {
  @apply rounded-lg w-full border outline outline-offset-0 outline-4 outline-transparent hover:bg-gray-100 focus:outline-violet-600 transition-all duration-200 ease-in-out py-[14px] px-[12px] placeholder:text-gray-500 font-medium placeholder:text-[15px];
}

.input2 {
  @apply rounded-lg w-full border outline outline-offset-0 outline-2 outline-transparent hover:outline-violet-400 focus:outline-violet-600 transition-all duration-200 ease-in-out py-[10px] px-[12px] font-light text-[13px];
}
